In [1]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\vaish\anaconda3\lib\site-packages (9.2.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector
import pandas as pd
conn=mysql.connector.connect(host="localhost",
                            user="root",
                            password="shivam123",
                            database="cricket_ipl")
cursor=conn.cursor()
cursor.execute("SELECT * from matches1 limit 5")
print(cursor.fetchall())

[(335982, 2007, 'Bangalore', datetime.date(2008, 4, 18), 'League', 'BB McCullum', 'M Chinnaswamy Stadium', 'Royal Challengers Bangalore', 'Kolkata Knight Riders', 'Royal Challengers Bangalore', 'field', 'Kolkata Knight Riders', 'runs', 140, 223, 20.0, 0, 'NA', 'Asad Rauf', 'RE Koertzen\r'), (335983, 2007, 'Chandigarh', datetime.date(2008, 4, 19), 'League', 'MEK Hussey', 'Punjab Cricket Association Stadium, Mohali', 'Kings XI Punjab', 'Chennai Super Kings', 'Chennai Super Kings', 'bat', 'Chennai Super Kings', 'runs', 33, 241, 20.0, 0, 'NA', 'MR Benson', 'SL Shastri\r'), (335984, 2007, 'Delhi', datetime.date(2008, 4, 19), 'League', 'MF Maharoof', 'Feroz Shah Kotla', 'Delhi Daredevils', 'Rajasthan Royals', 'Rajasthan Royals', 'bat', 'Delhi Daredevils', 'wickets', 9, 130, 20.0, 0, 'NA', 'Aleem Dar', 'GA Pratapkumar\r'), (335985, 2007, 'Mumbai', datetime.date(2008, 4, 20), 'League', 'MV Boucher', 'Wankhede Stadium', 'Mumbai Indians', 'Royal Challengers Bangalore', 'Mumbai Indians', 'bat', 'Royal Challengers Bangalore', 'wickets', 5, 166, 20.0, 0, 'NA', 'SJ Davis', 'DJ Harper\r'), (335986, 2007, 'Kolkata', datetime.date(2008, 4, 20), 'League', 'DJ Hussey', 'Eden Gardens', 'Kolkata Knight Riders', 'Deccan Chargers', 'Deccan Chargers', 'bat', 'Kolkata Knight Riders', 'wickets', 5, 111, 20.0, 0, 'NA', 'BF Bowden', 'K Hariharan\r')]

## How many matches were played in each season?

In [5]:
query = "SELECT season, COUNT(*) AS total_matches FROM matches1 GROUP BY season ORDER BY season;"
df = pd.read_sql(query, conn)
print(df)

    season  total_matches
0     2007             58
1     2009            117
2     2011             73
3     2012             74
4     2013             76
5     2014             60
6     2015             59
7     2016             60
8     2017             59
9     2018             60
10    2019             60
11    2020             60
12    2021             60
13    2022             74
14    2023             74
15    2024             71

##  Which cities hosted the most IPL matches?

In [6]:
query = "SELECT city, COUNT(*) AS matches FROM matches1 GROUP BY city ORDER BY matches DESC LIMIT 10;"
df = pd.read_sql(query, conn)
print(df)

         city  matches
0      Mumbai      173
1     Kolkata       93
2       Delhi       90
3     Chennai       85
4   Hyderabad       77
5   Bangalore       65
6  Chandigarh       61
7      Jaipur       57
8          NA       51
9        Pune       51

C:\Users\vaish\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Which teams have won the most matches?

In [7]:
query = "SELECT winner, COUNT(*) AS wins FROM matches1 GROUP BY winner ORDER BY wins DESC;"
df = pd.read_sql(query, conn)
print(df)

                         winner  wins
0                Mumbai Indians   144
1           Chennai Super Kings   138
2         Kolkata Knight Riders   131
3   Royal Challengers Bangalore   116
4              Rajasthan Royals   112
5               Kings XI Punjab    88
6           Sunrisers Hyderabad    88
7              Delhi Daredevils    67
8                Delhi Capitals    48
9               Deccan Chargers    29
10               Gujarat Titans    28
11                 Punjab Kings    24
12         Lucknow Super Giants    24
13                Gujarat Lions    13
14                Pune Warriors    12
15       Rising Pune Supergiant    10
16  Royal Challengers Bengaluru     7
17         Kochi Tuskers Kerala     6
18                           NA     5
19      Rising Pune Supergiants     5

C:\Users\vaish\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Does winning the toss help win the match?

In [8]:
query = "SELECT (SUM(CASE WHEN toss_winner = winner THEN 1 ELSE 0 END) / COUNT(*)) * 100 AS toss_win_percentage FROM matches1;"
df = pd.read_sql(query, conn)
print(df)

   toss_win_percentage
0              50.5936

C:\Users\vaish\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Most Player of the Match Awards

In [9]:
query = "SELECT player_of_match, COUNT(*) AS awards FROM matches1 GROUP BY player_of_match ORDER BY awards DESC LIMIT 10;"
df = pd.read_sql(query, conn)
print(df)

  player_of_match  awards
0  AB de Villiers      25
1        CH Gayle      22
2       RG Sharma      19
3       DA Warner      18
4         V Kohli      18
5        MS Dhoni      17
6       RA Jadeja      16
7       SR Watson      16
8       YK Pathan      16
9       SP Narine      15

C:\Users\vaish\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Biggest win margins (by runs)

In [10]:
query = "SELECT winner, MAX(result_margin) AS max_margin FROM matches1 WHERE result = 'runs' GROUP BY winner ORDER BY max_margin DESC LIMIT 5;"
df = pd.read_sql(query, conn)
print(df)

                        winner  max_margin
0               Mumbai Indians         146
1  Royal Challengers Bangalore         144
2        Kolkata Knight Riders         140
3          Sunrisers Hyderabad         118
4              Kings XI Punjab         111

C:\Users\vaish\anaconda3\lib\site-packages\pandas\io\sql.py:762: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## Super Over Analysis

In [14]:
query = "SELECT COUNT(*) AS super_over_matches FROM matches1 WHERE super_over =1;"
df = pd.read_sql(query, conn)
print(df)

   super_over_matches
0                   0